// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    color: #B9E4B0;
    text-align: center;
    font-size: 60px;
}

body {
    color:#F2E6EB;
    font-size: 20px;
}
